@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

/*#C9CCD5 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  padding: 1.5rem;
  font-family: Agbalumo;
  background-color: #E4D8DC;
}
.nav-bar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #93B5C6;
  width: 95%;
  padding: 0.7rem 0;
  border-radius: 5px;
  color: #FFE3E3;
  height: 4rem;
  
  
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

.number-result {
  padding-right: 1rem;
  font-size: 1.2rem;
}

.search {
  font-family: Agbalumo;
  padding: 0.3rem 0.7rem;
  width: 50%;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #a7ccdf;
  color: #FFE3E3;
}

.search::placeholder {
  color: #ffe3e385;
}

.main {
display: flex;
margin-top: 2rem;
height: calc(100vh - 4.5rem - 3 * 1.5rem);
justify-content: center;
gap: 1.5rem;
}

.box {
  width: 32rem;
  max-width: 32rem;
  background-color: #FFE3E3;
  border-radius: 11px;
}

.books-list {
  list-style: none;
  padding: 0.5rem 0;
  

}

.hover:hover {
  cursor: pointer;
  background-color: #ffe6e6 ;
  transition: all 0.3s;
}

.book-item {
  display: flex;
  gap: 1.4rem;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #c4b3b346;
}

.book-item img {
  width: 4.7rem;
}

.book-details {
  color: #265064;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  margin-top: 4rem;
  font-size: 2.5rem;
}

.read-summary {
  background-color: #ffe9e9;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
  padding: 0.9rem 1.1rem;
}

.read-summary h3 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.read-summary-details {
  display: flex;
  gap: 4.5rem;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-close-book {
  
  align-self: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: none;
  background-color: #265064;
  color: #FFE3E3;
  font-weight: bold;
  cursor: pointer;
}

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}